<section class="contact">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="footer-thumb"> 
        <h4 style="visibility: visible;">Contact Info</h4>
  			<p><b>idrishti eye hospital</b></p>
  			<p>69/1, 2nd Floor, AGR Tower, Near St Peters School, Sarjapur Main Rd,<br> Kaikondrahalli, Bengaluru-560035</p>

        <div class="contact-info">
          <p><i class="fa fa-phone"></i><a href="tel:+91-9880601696">+91-9880601696</a></p>
          <p><i class="fa fa-envelope-o"></i> <a href="mailto:sarjapur@dristicare.org">sarjapur@drishticare.org</a></p>
          <p><i class="fa fa-map-marker"></i> <a href="https://g.page/idrishti-sarjapur?share">Directions on Google Maps</a></p>
        </div>
      </div>
    </div>

		<div class="col-md-6 col-sm-6"> 
      <div class="footer-thumb"> 
        <div class="col-md-4 col-sm-4 col-lg-6"> 
          <div class="footer-thumb">
            <div class="opening-hours">
              <h4  style="visibility: visible;">Opening Hours</h4>
              <p>Monday - Saturday <span>10:00 AM - 7:30 PM</span></p>
              <p>Sunday <span>Closed</span></p>
            </div> 

            <ul class="social-icon">
              <li><a href="https://www.facebook.com/idrishti-Eye-Hospital-Sarjapura-108805337183102" class="fa fa-facebook-square" attr="facebook icon"></a></li>
              <li><a href="https://twitter.com/idrishtieyecare" class="fa fa-twitter"></a></li>
              <li><a href="https://www.instagram.com/idrishtieyehospitals/?hl=en" class="fa fa-instagram"></a></li>
              <li><a href="https://in.linkedin.com/company/idrishti"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
          </div>
        </div>
			</div>
		</div>
	</div>
</section>
	