<section id="team" data-stellar-background-ratio="1" style="background-position: 0px 0px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="about-info">
          <h3 class="docsh2"> Our Doctors </h3>
					<div style="width:10%; margin-left:45%; border-top: 2px solid #21409A; margin-bottom:20px;"></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="team-thumb">
          <img src={{ .Get "doctor_img1" }} alt="Dr Radha" width="450" height="500" class="img-responsive">
          <div class="team-info">
            <h3>{{ .Get "doctor_name1" }}</h3>
  					<p><b>{{ .Get "doctor_cat1" }}</b></p>
  					<p>{{ .Get "doctor_edu1" }}<br>
            {{ .Get "doctor_pos1" }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="team-thumb">
          <img src={{ .Get "doctor_img2" }} alt="Dr Radha" width="450" height="500" class="img-responsive">
          <div class="team-info">
            <h3>{{ .Get "doctor_name2" }}</h3>
            <p><b>{{ .Get "doctor_cat2" }}</b></p>
            <p>{{ .Get "doctor_edu2" }}<br>
            {{ .Get "doctor_pos2" }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="team-thumb">
          <img src={{ .Get "doctor_img3" }} alt="Dr Radha" width="450" height="500" class="img-responsive">
          <div class="team-info">
            <h3>{{ .Get "doctor_name3" }}</h3>
            <p><b>{{ .Get "doctor_cat3" }}</b></p>
            <p>{{ .Get "doctor_edu3" }}<br>
            {{ .Get "doctor_pos3" }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>