
<section id="team" data-stellar-background-ratio="1" style="background-position: 0px 0px;">
  <div class="container">
     <div class="row">
      <div class="col-sm-12">
        <div class="about-info">
          <h3 class="docsh2"> Gallery </h3>
          <div style="width:10%; margin-left:45%; border-top: 2px solid #21409A; margin-bottom:20px;"></div>
        </div>
      </div>
      <div class="masonry">
        {{ range .Params }}
          <div class="work-image item">
            <img src="{{ . | relURL }}"/>
          </div>
        {{ end }}
      </div> 
    </div> 
  </div>
</section>